nodred-temp-flow
[{"id":"d7bf5e6b.36d","type":"rpi-ds18b20","z":"97cebe89.77add","topic":"","array":false,"name":"","x":490,"y":240,"wires":[["56d85a2f.2b7954","2deb4dcd.7fc4f2"]]},{"id":"8138632c.cad73","type":"inject","z":"97cebe89.77add","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":240,"wires":[["d7bf5e6b.36d"]]},{"id":"56d85a2f.2b7954","type":"debug","z":"97cebe89.77add","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":200,"wires":[]},{"id":"2deb4dcd.7fc4f2","type":"unit-converter","z":"97cebe89.77add","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"1","name":"TempConverter","x":680,"y":240,"wires":[["6b0c930b.dc396c","93cb59ba.b94aa8"]]},{"id":"6b0c930b.dc396c","type":"ui_gauge","z":"97cebe89.77add","name":"Hot Tub","group":"b39ba962.178d78","order":0,"width":0,"height":0,"gtype":"gage","title":"Hot Tub Temperature","label":"°F","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":240,"wires":[]},{"id":"93cb59ba.b94aa8","type":"ui_chart","z":"97cebe89.77add","name":"","group":"b39ba962.178d78","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":910,"y":200,"wires":[[]]},{"id":"b39ba962.178d78","type":"ui_group","name":"Group 1","tab":"f6becb70.f0df18","order":1,"disp":true,"width":6},{"id":"f6becb70.f0df18","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]
